<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="kr.gdg.plant">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!--fabric key-->
    <meta-data
            android:name="io.fabric.ApiKey"
            android:value="9cbc9bb41b84045c9345e85e63f329aafd4759b8"/>

    <application
            android:name=".GlobalApplication"
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher_app"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".view.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".view.activity.MainActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".view.activity.SearchActivity"
                  android:windowSoftInputMode="adjustNothing"
                  android:screenOrientation="portrait"/>

        <activity android:name=".view.activity.WebViewActivity"
                  android:screenOrientation="portrait"/>

        <!--<activity android:name=".view.activity.TestActivity"-->
                  <!--android:screenOrientation="portrait"/>-->
    </application>

</manifest>